*
{
    margin:0;
    padding:0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../theodolite.jpg);
    height: 100vh;
    background-size: cover;
    background-position:center ;
}
ul
{
    float: right;
    list-style: none;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
ul li
{
    display: inline-block;
}
ul li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid white;
}
ul li a:hover
{
    background-color:#fff;
    color:#000;
}
ul li.active a
{
    background-color: #fff;
    color:#000;
}
.title
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1
{
    color:white;
    font-size: 50px;
}

.title h2
{
    text-decoration: underline;
}
.title p
{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 150%;
}
.button
{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn
{
    border: 1px solid #fff;
    padding: 10px 20px;
    color: rgb(158, 219, 59);
    text-decoration:none;
}
.about h2
{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 200%;
}

#about{
    padding: 3%;
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../theodolite.jpg);
    height: 100vh;
    background-size: cover;
    background-position:center ;
}

.about button
{
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
